@import "mixin";

.footer {
    background: #00093c;
    padding: 70px 0 56px 0;

    &__wrapper {
        display: flex;
        margin: 0 -30px;
    }

    &__column {
        flex: 0 1 20%;
        padding: 0 30px;
        color: #fff;
    }

    &__label {
        font-weight: 700;
        font-size: 16px;
        line-height: 162.50%;
        margin-bottom: 16px;
    }

    &__list {
        line-height: 130%;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__link {
        color: #fff;

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .first-column {
        padding-top: 69px;

        &__logo {
            margin-bottom: 47px;
        }

        &__phone {
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 22px;
            display: inline-block;

            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        &__address {
            font-weight: 500;
            line-height: 120%;
            margin-bottom: 22px;
        }

        &__email {
            color: #fff;
            font-weight: 500;
            line-height: 185.71%;
            margin-bottom: 41px;
            display: inline-block;

            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        &__social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 33px;
        }

        &__social-item {
        }

        &__copyright {
            font-size: 12px;
            line-height: 125%;
            color: #bdbdbd;
        }
    }
}