.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: rgba(0, 9, 60, 0.7);
    opacity: 0;
    visibility: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        background: #fff;
        border-radius: 20px;
        max-width: 800px;
        padding: 40px 30px;
        position: relative;

        .popup__title, .popup__text {
            text-align: center;
        }
    }

    &__close {
        background: url("../img/section-faq/svg/plus.svg") 0 0 no-repeat;
        width: 17px;
        height: 17px;
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        rotate: 45deg;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }

    &__text {
        line-height: 140%;
    }

    &__form {
        margin-top: 30px;
    }
}