@import "mixin";

.form-section {
    background: #f6f7f9;
    &__wrapper {
        background: #fff;
        border-radius: 20px;
        padding: 40px;
        position: relative;
        bottom: -40px;
    }
    &__body {
        display: flex;
    }
    &__left {
        flex: 0 0 611px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        &::before {
            content: '';
            background: url("../img/svg/owl.svg") 0 0 no-repeat;
            width: 100%;
            height: 292px;
            position: absolute;
            top: -8px;
            left: -95px;
        }
    }
    &__right {
        flex: 1 1 auto;
        padding-left: 50px;
    }
    &__image {
        background: url("../img/section-form/svg/message.svg") 0 0 no-repeat;
        width: 420px;
        height: 192px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image-text {}
    .image-text {
        padding: 0 15px 0 50px;
        &__title {
            font-weight: 600;
            @include adaptiv-font(24, 24);
            line-height: 120.83%;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-weight: 500;
            @include adaptiv-font(16, 16);
            line-height: 162.50%;
        }
    }
}

/* ------------------------- form ------------------------- */

.form {
    &__body {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        &:not(:first-child) {
            flex: 0 1 50%;
        }
        &:first-child {
            flex: 0 1 100%;
        }
    }
    &__info {
        flex: 0 1 50%;
    }
    &__button {
        flex: 0 1 50%;
    }
}