@import "mixin";

.content {
    background: #f6f7f9;

    &__body {
        padding: 84px 0 72px 0;
    }

    &__title-section {
        margin-bottom: 25px;
    }

    &__desc-section {
        max-width: 979px;
        margin-bottom: 25px;
    }

    /* --------------------- slider swiper ↓ --------------------- */

    &__slider {}
    // Главный контейнер слайдера
    .image-slider {
        // Обязательная оболочка
        &__wrapper {}
        // Слайды
        &__slide {}
        &__image {
            img {}
        }
    }

    /* --------------------- slider swiper ↑ --------------------- */

    &__row {
    }

    &__info {
    }

    &__image {
    }
}