.targets {
    background: #f6f7f9;
    padding: 107px 0 70px 0;

    &__container {
    }

    &__listing {
        display: flex;
        margin: 0 -10px 142px -10px;
    }

    &__item {
        padding: 0 10px;
        position: relative;

        &_1 {
            flex: 1 1 auto;
            margin-top: -8px;

            &::before {
                content: '';
                background: url("../img/section-targets/svg/message.svg");
                width: 352px;
                height: 140px;
                display: block;
            }

            &::after {
                content: '';
                background: url("../img/section-targets/owl.png");
                width: 168px;
                height: 189px;
                display: block;
                position: absolute;
                top: 86px;
                left: -30px;
            }
        }

        &_2 {
            flex: 0 0 200px;

            &::before {
                content: '';
                background: url("../img/section-targets/svg/target-1.svg");
                width: 26px;
                height: 41px;
                display: block;
                position: absolute;
                top: 3px;
            }
        }

        &_3 {
            flex: 0 0 200px;

            &::before {
                content: '';
                background: url("../img/section-targets/svg/target-2.svg");
                width: 21px;
                height: 46px;
                display: block;
                position: absolute;
                top: -2px;
            }
        }

        &_4 {
            flex: 0 0 200px;

            &::before {
                content: '';
                background: url("../img/section-targets/svg/target-3.svg");
                width: 23px;
                height: 49px;
                display: block;
                position: absolute;
                top: -5px;
            }
        }

        &_5 {
            flex: 0 0 200px;

            &::before {
                content: '';
                background: url("../img/section-targets/svg/target-4.svg");
                width: 27px;
                height: 43px;
                display: block;
                position: absolute;
                top: 1px;
            }
        }
    }

    &__message {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        max-width: 310px;
        position: absolute;
        top: 32px;
        left: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 14px 0;
        padding: 60px 0 0 0;
    }

    &__desc {
        line-height: 17px;
    }

    /* ---------------------------------- video */

    &__video {
        margin: 0 auto;
        position: relative;
    }

    .video {
        max-width: 780px;

        &__body {
            position: relative;
            padding-bottom: 56%;
            border-radius: 20px;
            overflow: hidden;
            z-index: 2;

            video, iframe {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__item {
            &--1 {
                width: 281px;
                height: 132px;
                background: url("../img/section-targets/svg/curve-left.svg") 0 0 no-repeat;
                position: absolute;
                bottom: 23px;
                left: -266px;
            }

            &--2 {
                width: 165px;
                height: 137px;
                background: url("../img/section-targets/svg/triangle.svg") 0 0 no-repeat;
                position: absolute;
                top: -68px;
                left: -96px;
            }

            &--3 {
                width: 352px;
                height: 351px;
                background: url("../img/section-targets/svg/curve-right.svg") 0 0 no-repeat;
                position: absolute;
                top: -58px;
                right: -245px;
            }

            &--4 {
                width: 230px;
                height: 230px;
                background: url("../img/section-targets/svg/cross.svg") 0 0 no-repeat;
                position: absolute;
                bottom: -81px;
                right: -144px;
            }
        }
    }
}

/* ---------------------------------- @media section targets */

@media (max-width: 1300px) {
    .targets {
        &__listing {
            position: relative;
            padding-top: 100px;
            flex-wrap: wrap;
            margin-left: 240px;
        }

        &__item {
            padding: 0 40px 0 0;

            &_1 {
                position: absolute;
                top: -50px;
                left: -240px;
                margin-left: 42px;
            }

            &_2 {
                flex: 0 1 50%;
            }

            &_3 {
                flex: 0 1 50%;
            }

            &_4 {
                flex: 0 1 50%;
                margin-top: 30px;
            }

            &_5 {
                flex: 0 1 50%;
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .targets {
        &__listing {
            flex-direction: column;
        }

        &__item {
            &_3 {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 576px) {
    .targets {
        &__listing {
            margin-left: 156px;
        }

        &__item {
            &_1 {
                margin-left: 70px;

                &::before {
                    scale: .8;
                }

                &::after {
                    scale: .8;
                    top: 63px;
                    left: -5px;
                }
            }
        }

        &__message {
            font-size: 14px;
            max-width: 270px;
            padding-left: 35px;
        }
    }
}

@media (max-width: 425px) {
    .targets {
        &__listing {
            margin-left: 0;
            padding-top: 220px;
        }

        &__item {
            padding: 0;

            &_1 {
                margin-left: 227px;
            }
        }
    }
}

@media (max-width: 375px) {
    .targets {
        &__item {
            &_1 {
                margin-left: 212px;

                &::before {
                    scale: .75;
                }

                &::after {
                    scale: .75;
                    top: 55px;
                    left: 5px;
                }
            }
        }

        &__message {
            padding-left: 40px;
        }
    }
}