@import "mixin";

.content {
    background: #f6f7f9;

    &__body {
        padding: 84px 0 72px 0;
    }

    &__title-section {
        margin-bottom: 25px;
    }

    &__desc-section {
        display: flex;
    }

    &__desc-info {
        flex: 0 1 79%;
    }

    &__desc-image {
        flex: 0 1 21%;
        position: relative;

        &_1 {
            position: absolute;
            top: 70px;
            left: 85px;
        }

        &_2 {
            position: absolute;
            top: -86px;
            left: 0;
        }

        &_3 {
            position: absolute;
            top: -80px;
            left: 155px;
        }

        &_4 {
            position: absolute;
            top: 58px;
            right: -30px;
        }
    }

    /* --------------------- slider swiper ↓ --------------------- */

    &__slider {
        padding: 27px 0 140px 0;

        .slider {
            &__wrapper {
                display: flex;
                justify-content: center;
                margin: 0 -10px;
            }

            &__slide {
                padding: 0 10px;
                flex: 1 0 auto;
            }

            &__image {
                height: 210px;
                overflow: hidden;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    /* --------------------- slider swiper ↑ --------------------- */

    &__row {
        margin-top: 34px;
        display: flex;
    }

    &__info {
        flex: 0 1 58%;
    }

    &__image {
        flex: 0 1 42%;
    }

    .image-content {
        position: relative;

        span {
            font-weight: 500;
            @include adaptiv-font(24, 14);
            line-height: 120.83%;
            position: absolute;
            top: 40px;
            left: 30px;
            z-index: 2;
        }

        &__message {
            position: absolute;
            top: 0;
            left: 0;
        }

        &__owl {
            position: absolute;
            bottom: -80px;
            right: -60px;
        }

        /*&__chess {
            position: absolute;
            top: 0;
            right: 0;

            &_1 {
                top: -150px;
                right: 120px;
            }

            &_2 {
                top: -300px;
                right: 140px;
            }

            &_3 {
                top: -300px;
                right: 30px;
            }

            &_4 {
                top: -160px;
                right: -30px;
            }
        }*/
    }
}