@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ---------------------------------- header ---------------------------------- */

.header {
    background: #dcdcdc;

    &__container {
        display: flex;
        justify-content: space-between;
        min-height: 110px;
        align-items: center;
    }

    &__logo {
        img {
        }
    }

    &__menu {
    }

    &__contacts {
    }
}

.menu {
    &__body {
    }

    &__list {
        display: flex;
        position: relative;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }

        &:nth-child(1)::before {
            content: '';
            background: url("../img/header/all-courses.svg") 0 0 no-repeat;
            display: inline-block;
            width: 20px;
            height: 16px;
            position: absolute;
            top: -1px;
        }

        &:nth-child(1) > .menu__link {
            padding-left: 28px;
        }
    }

    &__link {
        font-weight: 500;
        color: #000;
    }
}

.contacts {
    &__body {
    }

    &__list {
        display: flex;
        position: relative;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }

        &:nth-child(1) {
            margin-right: 52px;
        }

        &:nth-child(1)::before {
            content: '';
            background: url("../img/header/geo.svg") 0 0 no-repeat;
            display: inline-block;
            width: 17px;
            height: 20px;
            position: absolute;
            top: -3px;
        }

        &:nth-child(1)::after {
            content: '';
            background: url("../img/header/arrow-bottom.svg") 0 0 no-repeat;
            display: inline-block;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 4px;
        }

        &:nth-child(3)::before {
            content: '';
            background: url("../img/header/login.svg") 0 0 no-repeat;
            display: inline-block;
            width: 17px;
            height: 18px;
            position: absolute;
            top: -2px;
        }

        &:nth-child(1) > .contacts__link {
            padding: 0 10px 0 26px;
        }

        &:nth-child(3) > .contacts__link {
            padding-left: 26px;
        }
    }

    &__link {
        font-weight: 500;
        color: #000;
    }
}

/* ---------------------------------- main ---------------------------------- */


/* ---------------------------------- footer ---------------------------------- */

