@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

/* ---------------------------------- header ---------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #999;
        z-index: 2;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        min-height: 110px;
        align-items: center;
        position: relative;
    }

    &__logo {
        position: relative;
        z-index: 3;
    }

    &__burger {
        display: none;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        margin-right: 68px;
    }
}

.menu {
    &__list {
        display: flex;
        position: relative;
        z-index: 2;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }

        &:nth-child(1)::before {
            content: '';
            background: url("../img/header/all-courses.svg") 0 0 no-repeat;
            display: inline-block;
            width: 20px;
            height: 16px;
            position: absolute;
            top: -1px;
        }

        &:nth-child(1) .menu__link {
            padding-left: 28px;
        }
    }

    &__link {
        font-weight: 500;
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}

.contacts {
    &__list {
        display: flex;
        position: relative;
        z-index: 2;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }

        &:nth-child(1) {
            margin-right: 52px;
        }

        &:nth-child(1)::before {
            content: '';
            background: url("../img/header/geo.svg") 0 0 no-repeat;
            display: inline-block;
            width: 17px;
            height: 20px;
            position: absolute;
            top: -3px;
        }

        &:nth-child(1)::after {
            content: '';
            background: url("../img/header/arrow-bottom.svg") 0 0 no-repeat;
            display: inline-block;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 4px;
        }

        &:nth-child(3)::before {
            content: '';
            background: url("../img/header/login.svg") 0 0 no-repeat;
            display: inline-block;
            width: 17px;
            height: 18px;
            position: absolute;
            top: -2px;
        }

        &:nth-child(1) .contacts__link {
            padding: 0 10px 0 26px;
        }

        &:nth-child(3) .contacts__link {
            padding-left: 26px;
        }
    }

    &__link {
        font-weight: 500;
        color: #000;

        &--location {
            text-decoration: underline;
        }

        &--location:hover {
            text-decoration: none;
        }

        &--phone {
            font-size: 16px;
            color: #00093c;
        }
    }
}

/* ---------------------------------- @media header ---------------------------------- */

@media (max-width: 1230px) {
    .header {
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;

            span {
                background: #000;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
            }

            &::before, &::after {
                content: '';
                background: #000;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &__info {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: antiquewhite;
            padding-top: 150px;
        }
    }
}

/* ---------------------------------- main ---------------------------------- */

.main {
    padding-top: 130px;
}

/* ---------------------------------- footer ---------------------------------- */

